$Green: #00c167;
$Grey: #f6f6f6;
$White: #ffffff;
$Black: #000000;

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans:400,500,700|Google+Sans+Text:400);
@import url(https://fonts.googleapis.com/css?family=Google+Sans+Text:400&text=%E2%86%90%E2%86%92%E2%86%91%E2%86%93);

* {
    font-family: Gilroy, "system-ui", Trebuchet MS, Arial, Helvetica, Verdana;
}
